<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- 특정 패키지 또는 클래스의 로그 레벨을 따로 설정 -->
    <logger name="com.example" level="INFO" /> 
    <logger name="org.mybatis" level="DEBUG" /> <!-- 해당 부분을 필요에 따라 변경, INFO 쿼리미출력, DEBUG 쿼리실행내역, TRACE 쿼리결과-->
    <logger name="org.mybatis.spring.SqlSessionTemplate" level="INFO" />
</configuration>